*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', 'sans-serif';
  }

  /*HEADER*/
  .logo-sd{
      width: 35%;
      height: 25%;
  }

  .page-title {
      font-weight: 700;
      margin-bottom: 25%;
      text-shadow: 3px 3px 5px rgb(143, 143, 143);
  }
   /*END HEADER*/

   /*SECTION1*/
   .section1 {
       background-color: #3888ad;
   }

   .orange-card {
       background-color: #ffb703;
       border-radius: 20px;
       margin-top: -9%;
       box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
       font-weight: 600;
   }
   
   .link-button{
       width: 30%;
    }

   .saiba-mais{
       outline: none;
       border: 2px solid transparent;
       background: #3888ad;
       font-size: 1.4rem;
       font-weight: 400;
       width: 100%;
       padding: 5%;
       border-radius: 10px;
       transition: .5s;
   }

   .saiba-mais:hover{
       border: 2px solid white;
       color: white;
       background: #023047;
   }

   .text-sd {
       margin-top: 6%;
       text-align: center;
       color: white;
       padding-bottom: 1.2rem;
       border-bottom: 2px solid white;
   }

   .text-sd_p1, .text-sd_p2 {
       font-size: 1.1rem;
   }

   .foto-silvio_img {
       width: 370px;
       height: auto;
   }

   .text-silvio {
       padding-top: 1.5rem;
       padding-bottom: 1.4rem;
   }

   .bio-silvio_p1, .bio-silvio_p2 {
       font-size: 1.1rem;
   }
   /*END SECTION1*/

   /*SECTION2*/
   .card-black {
       background-color: #023047;
       color: white;
       min-height: 550px;
       max-height: 550px;
       box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px;
   }

   .card-white {
        background-color: white;
        color: #023047;
        min-height: 550px;
        max-height: 550px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px;  
   }

   .card-white img, .card-black img{
       width: 70%;
       height: 75%;
       margin-top: 1rem;
   }
   /*END SECTION2*/

   /*SECTION3*/
   /*END SECTION3*/

   /*FORM*/
   .contact {
       background-color: #ffb703;
       padding-top: 3%;
       color: #023047;
       padding-bottom: 3%;
   }

   .contact h1 {
       color: #023047;
       font-weight: 600;
   }

   .form-input {
       border: 2px solid transparent;
       outline: none;
       padding: 1.5%;
       border-radius: 10px;
       transition: .5s;
   }

   .form-textarea {
        border: 2px solid transparent;
        outline: none;
        padding: 1.5%;
        border-radius: 10px;
        transition: .5s;
   }

   .form-input:focus, .form-textarea:focus {
       border: 2px solid #023047;
   }

   .enviar-mensagem {
       outline: none;
       border: 2px solid transparent;
       padding: .4rem;
       background-color: #023047;
       color: white;
       transition: .5s;
   }

   .enviar-mensagem:hover {
       border: 2px solid #023047;
       background: white;
       color: #023047;
   }

   .icons {
       margin-bottom: -2% !important;
   }

   .icons i {
        color: #023047 !important;
   }
   /*END FORM*/

   /*FOOTER*/
    .footer {
        color: white;
        background-color: #023047;
    }
   /*END FOOTER*/

   /*MEDIA QUERYS*/

   @media(max-width: 1024px) {
        .text-silvio{
            flex-flow: column;
        }

       .card-black, .card-white {
           min-height: 400px !important;
           max-height: 400px !important;
       }

       .card-black h3, .card-white h3 {
            font-size: 1.6rem;
       }

       
       .card-white img, .card-black img{
            display: none;
        }
   }

   @media (max-width: 769px) {
       .contato {
           flex-flow: column;
       }

       .contatos-about {
           margin-top: 15px !important;
       }
   }

   @media(max-width: 425px) {
       .orange-card{
           margin-top: -25%;
       }

       .foto-silvio_img {
        width: 280px;
        height: auto;
    }

    .enviar-mensagem {
        margin-bottom: 10px !important;
    }

       .bio-silvio_p1, .bio-silvio_p2 {
        font-size: .9rem;
        text-align: center;
    }

    .card-black, .card-white {
        min-height: 350px !important;
        max-height: 350px !important;
        width: 70% !important;
    }
    
    .clients img {
        width: 40% !important;
    }
   }